* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#header-img {
  width: 17vh;
  height: 15vh;
  margin: 10px;
}

#name-logo {
  margin-top: 20px;
  padding-right: 450px;
  display: block;
}

#nav-bar {
  margin-top: 20px;    
}

.nav-link {  
  padding: 0px 100px 0px 100px;
  text-decoration: none;  
  color: tomato;
  font-size: larger;  
  text-align: center;  
}

@media (max-width: 638px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #header-img {
    width: 25%;
    height: 25%;
  }

  .nav-link {      
    display: block;
  }

  #container {
    margin: 180px 0px 20px 0px;      
  }
}

@media (max-width: 1080px) {
  #nav-bar {
    display: flex;
    flex-direction: column;
  }

  .nav-link {      
    padding: 0px 55px 0px 55px; 
    margin-top: 5px;   
  }

    #name-logo {
    display: block;
    padding: 0;
    margin-top: 20px;
  }
}

@media (max-width: 1525px) {
  .nav-link {          
    margin-top: 5px;   
  }

  #name-logo {
    display: block;
    padding: 0;
    margin-top: 20px;    
  }
}

/* VIDEO AND FORM */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;   
}

#video {
  margin: 140px 0px 20px 0px;        
  width: 30rem;
  height: 315px;
}

#form {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

#email {
  margin: 7px 0px 7px 0px;
  width: 17rem;
  font-size: larger;
  padding: 7px;
  border: solid 2px darkslategrey;
  border-radius: 4px;
}

#submit {
  width: 10rem;
  border: none;
  border-radius: 3px;
  background-color: orange;
  padding: 7px;
  cursor: pointer;
  font-size: larger;
}
  
/* CARD OFFERS  */

#prices-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  #prices-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    border: solid black 1px;    
    margin: 20px;  
  }
  
}

.card {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  width: 25rem;
  margin: 20px;  
  align-items: center;
}

.card h3 {
  text-align: center;
  font-size: x-large;
  padding: 8px;
  background-color: coral;
  width: 100%;
}

.card h2 {
  text-align: center;
  padding: 5px;
}

.card p {
  text-align: center;  
  width: 50%;
  font-size: medium;
  line-height: 2em;
}

.card button {
  background-color: orange;
  border: none;
  border-radius: 2px;
  width: 40%;
  padding: 8px;
  font-size: medium;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

/* FOOTER */

.footer {
  height: 100px;
  background-color: #DDDDDD;
}

.footer .links {
  background-color: #DDDDDD;
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
}

.footer .company {
  background-color: #DDDDDD;
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
}

.footer p {
  background-color: #DDDDDD;
  color: #616161;
  font-size: larger;  
  text-align: center;  
  margin: 10px;
}

.footer a {
  text-decoration: none;  
  background-color: #DDDDDD;
  color: #2a2a2a;
  font-size: larger;  
  text-align: center;  
  margin: 10px;
}