* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#header-img {
  width: 17vh;
  height: 15vh;
}

#nav-bar {
  margin-top: 20px;    
}

.nav-link {  
  padding: 0px 100px 0px 100px;
  text-decoration: none;  
  color: tomato;
  font-size: larger;  
  text-align: center;  
}

@media (max-width: 610px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #header-img {
    width: 25%;
    height: 25%;
  }

  .nav-link {      
    display: block;
  }

  #container {
    margin: 130px 0px 20px 0px;      
    border: solid red;
  }

}

@media (max-width: 900px) {
  .nav-link {      
    padding: 0px 55px 0px 55px; 
    margin-top: 5px;   
  }
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  border: solid red;
}

#video {
  margin: 140px 0px 20px 0px;      
  /* margin-top: 100px; */
  border: dodgerblue solid;
  width: 30rem;
  height: 315px;
}

#form {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

#email {
  margin: 7px 0px 7px 0px;
  width: 17rem;
  font-size: larger;
  padding: 7px;
  border: solid 2px darkslategrey;
  border-radius: 4px;
}

#submit {
  width: 10rem;
  border: none;
  border-radius: 3px;
  background-color: dodgerblue;
  color: whitesmoke;
  padding: 7px;
  cursor: pointer;
  font-size: larger;
}
  

#prices-container {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  width: 30%;
  margin: 20px;
  padding: 10px;
}

.card h3 {
  text-align: center;
}

.card h2 {
  text-align: center;
}

.card p {
  text-align: center;
}